body {
   font-size:80%;
   font-family:verdana,arial;
   background-color:#E3B176;
}


.unsichtbar {
   display: none;
}


header {
   /* border:1px solid blue;
   background-color:#E3E3FF; */
   min-height:6em;
}

nav {
   /* border:1px solid red;
   background-color: #FFE3E3; */
   width:15em;
   float:left;
   /* float:right; /* hier würde die Navigation nach rechts fließen */
   min-height:20em;
}

nav ul{
   margin : 0.6em 0 0 0;
   padding : 0;
}

nav ul li{
   list-style-type:none;
   border:1px solid gray;
   background-color:#FFD147;
   margin-bottom:0.6em;
}

nav ul li span.auswahl {
   display:block;
   color: #FF0000;
   font-weight:700;
   text-decoration: none;
   padding:0.5em;
}

nav ul li a {
   padding:0.5em;
   display:block;
   color: #383742;
   font-weight:700;
   text-decoration: none;
}
nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active {
   display:block;
   color: #fff;
   font-weight:700;
   text-decoration: underline;
   background-color: #7A0000;
}


article {
   /* border:1px solid green;
   background-color: #C6EBC6; */
   margin-left:15em;
}
article h1 {
   padding : 0.6em;
   font-size : 1.4em;
   margin : 0;
}
article p {
   width : 35em;
   padding : 0.6em;
   margin : 0;
}
article p img {
   padding : 0 0 1em 1em ;
   float : right;
}
footer {
   /* border:1px solid gray;
   background-color: #E4E4E4; */
   clear : both;
   border-top : 0.05em solid #454545;
   text-align : center;
   padding-top : 0.8em;
}
footer p {
   font-size : 0.9em;
   color : #7E0000;
   width : 70%;
   margin : auto;
}

