body {
   font-size:80%;
   font-family: verdana,arial;
   background-color:#F4F4F4;
}

header {
   border:1px solid blue;
   background-color: #E3E3FF;
   min-height:6em;
}
nav {
   border:1px solid red;
   background-color: #FFE3E3;
}
article {
   border:1px solid green;
   background-color: #C6EBC6;
}
footer {
   border:1px solid gray;
   background-color: #E4E4E4;
}

