header {
   border:1px solid blue;
   background-color: #E3E3FF;
}
nav {
   border:1px solid red;
   background-color: #FFE3E3;
}
article {
   border:1px solid green;
   background-color: #C6EBC6;
}
footer {
   border:1px solid gray;
   background-color: #E4E4E4;
}

