body {
   font-size:80%;
   font-family: verdana,arial;
   background-color:#F4F4F4;
}

.unsichtbar {
   display: none;
}

header {
   border:1px solid blue;
   background-color: #E3E3FF;
   min-height:6em;
}
nav {
   border:1px solid red;
   background-color: #FFE3E3;
   width:15em;
   float:left;
   /* float:right; /* hier würde die Navigation nach rechts fließen */
   min-height:26em;
}

nav ul{
   margin : 0;
   padding : 0;
}

nav ul li{
   list-style-type:none;
   border:1px solid gray;
   background-color:#DEDEDE;
   margin-bottom:0.6em;
}

nav ul li span.auswahl {
   display:block;
   color: #FF0000;
   font-weight:700;
   text-decoration: none;
   padding:0.5em;
}

nav ul li a {
   padding:0.5em;
   display:block;
   color: #383742;
   font-weight:700;
   text-decoration: none;
}
nav ul li a:hover,
nav ul li a:focus,
nav ul li a:active {
   display:block;
   color: #fff;
   font-weight:700;
   text-decoration: underline;
   background-color: #302C68;
}


article {
   border:1px solid green;
   background-color: #C6EBC6;
}
footer {
   border:1px solid gray;
   background-color: #E4E4E4;
}

